* {
	blue: #0084ff;
	magenta: #ff00e0;
	purple: #a200ff;
	green: #00eb00;
	lightfg: #dddddd;
	lightbg: #2d2d2d;
	background-color: #00000000;
	background: #00000000;
	foreground: #d1d1d2;
	
	/*selected-normal-background:  var(blue);*/
	selected-normal-background:  var(lightbg);
	
	spacing: 2;
	selected-active-foreground:  var(lightfg);
	separatorcolor:              var(foreground);
	urgent-foreground:           var(magenta);
	alternate-urgent-background: var(lightbg);
	border-color:                var(foreground);
	normal-background:           var(background);
	alternate-active-background: var(lightbg);
	active-foreground:           var(blue);
	urgent-background:           var(background);
	alternate-normal-foreground: var(foreground);
	selected-active-background:  var(blue);
	selected-normal-foreground:  var(lightfg);
	active-background:           var(background);
	alternate-active-foreground: var(blue);
	alternate-normal-background: var(lightbg);
	selected-urgent-background:  var(magenta);
	selected-urgent-foreground:  var(background);
	normal-foreground:           var(foreground);
	alternate-urgent-foreground: var(magenta);
}

window {
	padding: 0;
	background-color: #00000060;
	border: 0;
	width: 100%;
	height: 100%;
}

mainbox {
	border: 0;
	padding: 10% 12%;
	children: [listview];
}

element {
	padding: 2% 1%;
	spacing: 5px ;
	border: 0;
	cursor: pointer;
	border-radius: 11px;
	orientation: vertical;
}
element normal.normal,
element alternate.normal {
	background-color: var(normal-background);
	text-color:	   var(normal-foreground);
}
element normal.urgent,
element alternate.urgent {
	background-color: var(urgent-background);
	text-color:	   var(urgent-foreground);
}
element normal.active,
element alternate.active {
	background-color: var(active-background);
	text-color:	   var(active-foreground);
}
element selected.normal {
	background-color: var(selected-normal-background);
	text-color:	   var(selected-normal-foreground);
}
element selected.urgent {
	background-color: var(selected-urgent-background);
	text-color:	   var(selected-urgent-foreground);
}
element selected.active {
	background-color: var(selected-active-background);
	text-color:       var(selected-active-foreground);
}
element-text {
	text-color:       inherit;
	highlight:        inherit;
	cursor:           inherit;
}
element-icon {
	size:             96px;
	text-color:       inherit;
	cursor:           inherit;
}
listview {
	columns: 8;
	fixed-height: 0;
	cycle: true;
	dynamic: true;
	layout: vertical;
}
button {
	spacing:    0;
	text-color: var(normal-foreground);
	cursor:     pointer;
}
button selected {
	background-color: var(selected-normal-background);
	text-color:       var(selected-normal-foreground);
}
case-indicator {
	spacing:    0;
	text-color: var(normal-foreground);
}
